table.excel-sheet { border-collapse: collapse; table-layout: fixed; }
.S81 { text-align:right;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
.S80 { text-align:right;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
.S83 { text-align:center;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
.S73 { text-align:right;vertical-align:bottom;border-left:1px solid ;border-top:1px solid ;border-right:2px solid ;border-bottom:2px solid ;}
.S85 { text-align:center;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
.S84 { text-align:center;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
.S86 { text-align:center;vertical-align:middle;border-left:2px solid ;border-top:2px solid ;border-right:2px solid ;border-bottom:1px solid ;}
.S75 { text-align:left;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
.S72 { text-align:center;vertical-align:bottom;border-left:1px solid ;border-top:1px solid ;border-right:1px solid ;border-bottom:2px solid ;}
.S74 { text-align:left;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
.F18 { font-size:1.2em;font-weight:bold;color:#000000;}
.F14 { font-size:1.2em;color:#FF0000;}
.S68 { text-align:right;vertical-align:top;border-left:1px solid ;border-top:1px solid ;border-right:2px solid ;border-bottom:1px solid ;}
.S79 { text-align:right;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
.S78 { text-align:right;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
.S63 { text-align:left;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
.S82 { text-align:center;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
.S71 { text-align:left;vertical-align:bottom;border-left:2px solid ;border-top:1px solid ;border-right:1px solid ;border-bottom:2px solid ;}
.S62 { text-align:left;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
.S65 { text-align:center;vertical-align:top;border-left:1px solid ;border-top:1px solid ;border-right:1px solid ;border-bottom:1px solid ;}
.S64 { text-align:left;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
.S67 { text-align:left;vertical-align:top;border-left:2px solid ;border-top:1px solid ;border-right:1px solid ;border-bottom:1px solid ;}
.S66 { text-align:center;vertical-align:middle;border-left:1px solid ;border-top:1px solid ;border-right:1px solid ;border-bottom:1px solid ;}
.F24 { font-size:1.2em;text-decoration:underline;color:#000000;}
.F25 { font-size:1.8em;color:#000000;}
.F23 { font-size:1.2em;font-style:italic;color:#000000;}
.S77 { text-align:left;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;background-color:#FFFF00;}
.F0 { font-size:1.2em;color:#000000;}
.S15 { text-align:left;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
.S91 { text-align:center;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
.S90 { text-align:center;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
.S76 { text-align:left;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
.S69 { text-align:left;vertical-align:middle;border-left:2px solid ;border-top:1px solid ;border-right:1px solid ;border-bottom:1px solid ;}
.S70 { text-align:right;vertical-align:middle;border-left:1px solid ;border-top:1px solid ;border-right:2px solid ;border-bottom:1px solid ;}
.S89 { text-align:center;vertical-align:middle;border-left:none ;border-top:none ;border-right:none ;border-bottom:none ;}
